.job {
  width: 277.3px;
  //   height: 247.62px;

  background: #ffffff;
  box-shadow: 0px 37px 90px 6px rgba(87, 87, 87, 0.12);
  border-radius: 20px;

  &.dark {
    background: #222;
  }

  .location {
    width: 15px;
    height: 18.33px;
    color: #000;
  }

  .type {
    color: #d23431;
  }
}

.devImg {
  width: 41px;
  height: 37px;
}
